{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}Administration - Open Training Platform{% endblock %}</h3>
{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: row;">
        <div style="margin: 3em;">
            <form action="{{ config["AdminURL"] }}" method="POST">
                <div class="form-group" style="margin-top: 1.5em;">
                    <h3>Configuration de base</h3>
                    <label>Nom d'hôte</label>
                    <input type="text" class="form-control" name="Hostname" placeholder="Hostname" value="{{ config["Hostname"] }}">
                    <small class="form-text text-muted">Texte affiché en haut à gauche dans la barre de navigation.</small><br>
                    <label>URL de la plateforme de TP, si il y en a une.</label>
                    <input type="text" class="form-control" name="PracticalPlatformURL" placeholder="PracticalPlatformURL" value="{{ config["PracticalPlatformURL"] }}">
                    <label>URL des outils de TP, si il y en a une.</label>
                    <input type="text" class="form-control" name="ToolsURL" placeholder="ToolsURL" value="{{ config["ToolsURL"] }}">
                    <label>Langue par défaut (non implémenté)</label>
                    <input type="text" class="form-control" disabled name="DefaultLanguage" placeholder="DefaultLanguage" value="{{ config["DefaultLanguage"] }}">
                    <label>Thème</label>
                    <input type="text" class="form-control"  name="Theme" placeholder="Theme" value="{{ config["Theme"] }}">
                    <label>Thème - Javascript associé</label>
                    <input type="text" class="form-control"  name="ThemeJS" placeholder="ThemeJS" value="{{ config["ThemeJS"] }}">
                </div>
                <div class="form-group" style="margin-top: 1.5em;">
                    <label>Configuration de l'administration </label>
                    <label>Visibilité de la page dans le menu</label>
                    <input type="text" class="form-control" name="AdminURLVisible" placeholder="AdminURLVisible" value="{{ config["AdminURLVisible"] }}">
                    <label>URL de la page d'admin</label>
                    <input type="text" class="form-control" name="AdminURL" placeholder="AdminURL" value="{{ config["AdminURL"] }}">
                    <label>Mot de passe</label>
                    <input type="text" class="form-control" name="AdminPassword" placeholder="AdminPassword" value="{{ config["AdminPassword"] }}">
                    <small class="form-text text-muted">Mot de passe de la session d'administration.</small>
                </div>
                <div class="form-group" style="margin-top: 1.5em;">
                    <label>Informations sur le formateur</label>
                    <input type="text" class="form-control" name="TrainerName" placeholder="TrainerName" value="{{ config["TrainerName"] }}">
                    <input type="text" class="form-control" name="TrainerWebsite" placeholder="TrainerWebsite" value="{{ config["TrainerWebsite"] }}">
                    <input type="text" class="form-control" name="TrainerEmail" placeholder="TrainerEmail" value="{{ config["TrainerEmail"] }}">
                    <input type="text" class="form-control" name="TrainerCompany" placeholder="TrainerCompany" value="{{ config["TrainerCompany"] }}">
                    <input type="text" class="form-control" name="TrainerCompanyWebsite" placeholder="TrainerCompanyWebsite" value="{{ config["TrainerCompanyWebsite"] }}">
                    <small class="form-text text-muted">Texte affiché en page d'accueil</small>
                </div>
                <div class="form-group" style="margin-top: 1.5em;">
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
        </div>
        <div style="margin: 3em;">
            <form action="{{ config["AdminURL"] }}" method="POST">
                <div class="form-group" style="margin-top: 1.5em;">
                    <h3>Configuration des sessions</h3>
                    <label>Session active</label><br>
                    <select class="form-select" name="ActiveSession">
                        {% for session in config['Sessions'] %}
                            {% if config['Sessions'].index(session) == config["ActiveSession"] %}
                                <option value="{{ config['Sessions'].index(session) }}" selected>{{ config['Sessions'].index(session) }} - {{ session["SessionName"] }} - {{ session["SessionCode"] }}</option>
                            {% else %}
                                <option value="{{ config['Sessions'].index(session) }}">{{ config['Sessions'].index(session) }} - {{ session["SessionName"] }} - {{ session["SessionCode"] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="margin-top: 1.5em;">
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
            <form action="" method="POST">
                <div class="form-group" style="margin-top: 1.5em;">
                    <label>Éditer une session</label><br>
                    <select class="form-select">
                        {% for session in config['Sessions'] %}
                        {% if config['Sessions'].index(session) == config["ActiveSession"] %}
                                <option value="{{ config['Sessions'].index(session) }}" selected>{{ config['Sessions'].index(session) }} - {{ session["SessionName"] }} - {{ session["SessionCode"] }}</option>
                            {% else %}
                                <option value="{{ config['Sessions'].index(session) }}">{{ config['Sessions'].index(session) }} - {{ session["SessionName"] }} - {{ session["SessionCode"] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form action="" method="POST">
                <div class="form-group" style="margin-top: 1.5em;">
                    <input type="text" class="form-control" name="SessionID" style="display: none;" hidden value="{{ config }}">
                <label>Nom du centre de formation</label><br>
                <input type="text" class="form-control" name="SessionCenterName" placeholder="SessionCenterName" value="{{ config["SessionCenterName"] }}">
                <label>Lien du centre de formation</label><br>
                <input type="text" class="form-control" name="SessionCenterURL" placeholder="SessionCenterURL" value="{{ config["SessionCenterURL"] }}">
                <label>Logo du centre de formation</label><br>
                <input type="text" class="form-control" name="SessionCenterLogo" placeholder="SessionCenterLogo" value="{{ config["SessionCenterLogo"] }}">
                <label>Code de session</label><br>
                <input type="text" class="form-control" name="SessionCode" placeholder="SessionCode" value="{{ config["SessionCode"] }}">
                <label>Nom de la session</label><br>
                <input type="text" class="form-control" name="SessionName" placeholder="SessionName" value="{{ config["SessionName"] }}">
                <label>Logo de la session</label><br>
                <input type="text" class="form-control" name="SessionLogo" placeholder="SessionLogo" value="{{ config["SessionLogo"] }}">
                <label>Cahier de TP - Chemin d'accès (relatif par rapport au dossier static de l'application)</label><br>
                <input type="text" class="form-control" name="SessionPracticalBook" placeholder="SessionPracticalBook" value="{{ config["SessionPracticalBook"] }}">
                <label>Cahier de TP - Date de mise à jour (format YYYY-MM-DD)</label><br>
                <input type="text" class="form-control" name="SessionPracticalBookUpdateDate" placeholder="SessionPracticalBookUpdateDate" value="{{ config["SessionPracticalBookUpdateDate"] }}">
                <label>Support de cours - Chemin d'accès</label><br>
                <input type="text" class="form-control" name="SessionTextbook" placeholder="SessionTextbook" value="{{ config["SessionTextbook"] }}">
                <label>Support de cours - Date de mise à jour</label><br>
                <input type="text" class="form-control" name="SessionTextbookUpdateDate" placeholder="SessionTextbookUpdateDate" value="{{ config["SessionTextbookUpdateDate"] }}">
                <label>Lien du Quizz de la session</label><br>
                <input type="text" class="form-control" name="SessionQuizzURL" placeholder="SessionQuizzURL" value="{{ config["SessionQuizzURL"] }}">
                </div>
                <div class="form-group" style="margin-top: 1.5em;">
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}