<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename="css/"+ theme) }}">
<link rel="script" href="{{ url_for('static', filename="js/" + themejs) }}">
</head>
<body>
  <header>
      <div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 1em;">
  <a class="navbar-brand" href="#">OpenTrainingPlatform on {{ config["Hostname"] }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trainer">{{ config["TrainerName"] }}</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/textbook">Textbook</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/exercisebook">Exercisebook</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/tools">Tools</a>
      </li>
        {%  if config["AdminURLVisible"] == False %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Administration</a>
      </li>
        {%  else %}
        <li class="nav-item">
        <a class="nav-link" href="{{ config["AdminURL"] }}">Administration</a>
      </li>
        {% endif %}
    {%  if config["TestMode"] == True %}
      <li class="nav-item">
        <a class="nav-link" href="/lorem">Lorem</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
      </div>
  </header>
  <div class="container" style="margin: 2em;">
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  </div>
<footer>
    <div class="" style="text-align: center; margin: 3em">
        <h6>All content here is copyrighted by rightful owners.</h6>
        <h6>Trainingbooks and exercisebooks are copyrighted by {{ config["TrainerCompany"] }}. All rights reserved.</h6>
    <p>Open Training Platform is Open-Source and distributed under GNU/GPLv3. More info and updates on Github</p>
    </div>
</footer>
</div>
</body>